<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sLA">
            <h2><span jhiTranslate="ehcacheFrlStestExampleApp.sLA.detail.title">SLA</span> {{sLA.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ehcacheFrlStestExampleApp.sLA.rts">Rts</span></dt>
                <dd>
                    <span>{{sLA.rts}}</span>
                </dd>
                <dt><span jhiTranslate="ehcacheFrlStestExampleApp.sLA.user">User</span></dt>
                <dd>
                    {{sLA.userId}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sla', sLA.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
